h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("pngtree-full-colorful-watercolor-oil-painting-background-image_69640.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 10px;
background-color: white;
border-style: ridge;
}

span{
	font-size: 20px;
}